@model Bangazon.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.DateCreated)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.DateCreated)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Active)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Active)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.User.FullName)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.ProductType)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.ProductType.Label)
                </dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <img src="@Url.Content(Model.ImagePath)" class="img-fluid"/>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <form asp-action="ProductToCart" asp-route-id="@Model.ProductId">
        <input type="submit" value="ProductToCart" />
    </form>
</div>



