@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<div>
    <hr />
    @{ if (Model == null)
        {
        <div class="col-sm-2">
            <p>Your cart is empty.</p>
        </div>
        }

        if (Model != null)
        {

        <table class="table table-light">
            <thead class="thead-dark">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>         </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LineItems)
                    {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Product.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Units)</td>
                    <td>@Html.DisplayFor(modelItem => item.Product.Price)</td>
                    <td>
                        
                        <form asp-action="RemoveFromCart" asp-route-id="@item.Product.ProductId" asp-route-orderId="@Model.Order.OrderId">
                            <div class="form-group">
                                @*<input hidden></input>*@
                            </div>
                            <button class="btn btn-danger" type="submit">Remove From Cart</button>
                        </form>
                    </td>
                </tr>
                    }
                <tr>
                    <td> </td>
                    <td class="font-weight-bold border-bottom-0">Total:</td>
                    <td class="font-weight-bold">$@(Model.Total)</td>
                    <td>
                        <a asp-action="Checkout" class="btn btn-primary">Checkout</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr />
        <div>
            <a asp-action="Delete" asp-route-id="@Model.Order.OrderId">Cancel Order</a> |
            <a asp-action="Edit" asp-route-id="@Model.Order.OrderId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
        }
    }
</div>
