@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Cancel Order</h1>

<h3>Are you sure you want to cancel this order?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderProducts)
        </dt>
        <dd class="col-sm-10">
            <ul style="list-style-type: none;"> 
                @foreach  (var item in Model.LineItems)
                {
                    <li style="display: flex; flex-direction: row; justify-content: space-between;"><span>@item.Product.Title</span><span>@item.Units</span><span><strong>$@item.Product.Price</strong></span></li>
                }
            </ul>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Order.OrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
